In [1]:
import numpy as np
import pandas as pd
import time
from src import *

### get data

In [2]:
df = pd.read_pickle('./data/db_master.pickle')
df.to_pickle('./data/db_master.pickle~')
df.head()

,urn,name,url,ofsted,rawtext,scraping
0,100322,Avonmore Primary School,http://www.avonmore.lbhf.sch.uk/,2.0,NOLINKABOUT,-1
1,100324,Brackenbury Primary School,http://www.brackenbury.lbhf.sch.uk/,1.0,"[Video: A Day in the Life of Brackenbury, Prov...",1
2,100326,Miles Coverdale Primary School,http://www.milescoverdaleprimary.co.uk/,1.0,[We want every child to fulfil their potential...,1
3,100328,Flora Gardens Primary School,http://www.floragardens.lbhf.sch.uk/,3.0,"[Flora Gardens Primary School, Dalling Road, H...",1
4,100331,Kenmont Primary School,http://www.kenmont-primary.org/,2.0,[Kenmont has three main community languages - ...,1

### preprocess

In [3]:
df = scrape_preprocessing(df)
print_data_overview(df)
df.head()

>>> Overview on data:
Total:     20551    | Scraped: 13286    | Scraped fail:  6172    | Unscraped:  1093
--------------------------------------------------------------------------------------
Rank # 1 :  3996    |           2721    |                1275    |                0
Rank # 2 : 13548    |           9124    |                4324    |              100
Rank # 3 :  1739    |           1243    |                 496    |                0
Rank # 4 :   275    |            198    |                  77    |                0
Rank NaN :   993    |              0    |                   0    |              993

>>> Scraping failed because of:
     3825 NOLINKABOUT
     1578 NOCONNECTION
      525 NOURL
       10 FAIL
      234 []
---------
     6172

,urn,name,url,ofsted,rawtext,scraping
0,100322,Avonmore Primary School,http://www.avonmore.lbhf.sch.uk/,2.0,NOLINKABOUT,-1
1,100324,Brackenbury Primary School,http://www.brackenbury.lbhf.sch.uk/,1.0,"[Video: A Day in the Life of Brackenbury, Prov...",1
2,100326,Miles Coverdale Primary School,http://www.milescoverdaleprimary.co.uk/,1.0,[We want every child to fulfil their potential...,1
3,100328,Flora Gardens Primary School,http://www.floragardens.lbhf.sch.uk/,3.0,"[Flora Gardens Primary School, Dalling Road, H...",1
4,100331,Kenmont Primary School,http://www.kenmont-primary.org/,2.0,[Kenmont has three main community languages - ...,1

### scrape more data

In [4]:
#import warnings
#warnings.filterwarnings('ignore') # ignore https warnings 

number_of_added_websites = 100 # make it 0 if you only want to use what we have already stored
rank = 2
df_new = scrape_more_websites(df, number_of_added_websites=number_of_added_websites, rank=rank)

start web-scraping 100 schools of rank 2 (0=all) starting with index 20378
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .

In [5]:
print '=== BEFORE ==='
print_data_overview(df)

print '\n\n=== AFTER ==='
df_new = scrape_preprocessing(df_new)
print_data_overview(df_new)

=== BEFORE ===

>>> Overview on data:
Total:     20551    | Scraped: 13286    | Scraped fail:  6172    | Unscraped:  1093
--------------------------------------------------------------------------------------
Rank # 1 :  3996    |           2721    |                1275    |                0
Rank # 2 : 13548    |           9124    |                4324    |              100
Rank # 3 :  1739    |           1243    |                 496    |                0
Rank # 4 :   275    |            198    |                  77    |                0
Rank NaN :   993    |              0    |                   0    |              993

>>> Scraping failed because of:
     3825 NOLINKABOUT
     1578 NOCONNECTION
      525 NOURL
       10 FAIL
      234 []
---------
     6172


=== AFTER ===

>>> Overview on data:
Total:     20551    | Scraped: 13304    | Scraped fail:  6254    | Unscraped:   993
--------------------------------------------------------------------------------------
Rank # 1 :  3996    |           2721    |                1275    |                0
Rank # 2 : 13548    |           9142    |                4406    |                0
Rank # 3 :  1739    |           1243    |                 496    |                0
Rank # 4 :   275    |            198    |                  77    |                0
Rank NaN :   993    |              0    |                   0    |              993

>>> Scraping failed because of:
     3828 NOLINKABOUT
     1657 NOCONNECTION
      525 NOURL
       10 FAIL
      234 []
---------
     6254

### save data

In [6]:
#df_new

In [7]:
#time.sleep(2)
df_new.to_pickle('./data/db_master.pickle')

#### check

In [8]:
#df_new[(df_new.ofsted == 4) & (df_new.scraping == 1)]

In [9]:
#df_new[df_new.ofsted == 4]

# df_new.dtypes
#
#df_test = df_new.copy()
#df_test.dtypes
#
#df_test['name'] = df_test['name'].astype(str)
#df_test.dtypes